.serie-descripcion-container {
  padding: 20px;
}

.serie-descripcion-container img {
  max-width: 100%;
  height: auto;
}

.serie-descripcion-container h1 {
  margin-top: 20px;
}

.serie-descripcion-container p {
  margin-top: 10px;
}
