* {
  background-color: #141414;
}

.name {
  margin-top: 40px;
  width: 30%;
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 3%;
}

.slider {
  position: relative;
  width: 40vw;
  height: 50vh;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.slides img {
  height: 50vh;
  width: 40vw;
  min-width: 40vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .name {
    margin-top: 20px;
    width: 90%;
    padding-left: 30px;
  }

  .slider {
    position: relative;
    width: 50vw;
    height: 45vh;
    overflow: hidden;
    margin-top: 50px;
  }
  
  .slides img {
    height: 40vh;
    width: 50vw;
    min-width: 50vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slider {
    position: relative;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    margin-top: 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider {
    position: relative;
    width: 50vw;
    height: 49vh;
    overflow: hidden;
    margin-top: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
