* {
  background-color: #141414;
}

.name {
  margin-top: 40px;
  width: 30%;
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 3%;
}

.slider {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease;
}

.slides img {
  height: 50vh;
  width: 50vw;
  min-width: 50vw;
}

button {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}